body {
    margin: 20px;
    font-family: 'Alata', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

#wrapper {
    background-color: aliceblue;
    text-align: center;
    width: 30vw;
    padding: 50px;
}

#forecast {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

li {
    list-style: none;
}